$white: #ffffff;
$background-white: #f5f5f5;

$grey: #aaaaaa;
$grey-light: #eee;
$grey-light-2: #eaeaea;


$transparent-black: rgba(0, 0, 0, 0.75);

$primary-color-1: #F39C12;

$error: #d91e18;
$transparent-error: rgba(217, 30, 24, 0.2);

$success: #87d37c;
$transparent-success: rgba(135, 211, 124, 0.2);
